.Weather header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.Weather .search-bar {
  background: rgba(92, 92, 211, 0.1);
  border: none;
  transition: all 200ms ease-in-out;
}

.Weather .search-btn {
  background: rgba(92, 92, 211, 0.9);
  border: none;
  color: white;
  transition: all 200ms ease-in-out;
}

.Weather .search-btn:hover {
  background: rgba(92, 92, 211, 1);
  color: white;
}

.Weather .units {
  position: relative;
  left: 88%;
}

.Weather .active {
  font-weight: bold;
}

@media (max-width: 620px) {
  .Weather form {
    margin-right: 20px;
  }

  .Weather .search-bar,
  .search-btn {
    font-size: 80%;
  }
}

@media (max-width: 420px) {
  .Weather form {
    margin-right: 30px;
  }

  .Weather .search-bar,
  .search-btn {
    font-size: 70%;
  }

  .Weather .units {
    left: 82%;
  }
}
