@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.WeatherInfo h1 {
  font-size: 38px;
}

.WeatherInfo .temperature {
  display: flex;
  justify-content: left;
}

.WeatherInfo .temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.WeatherInfo .temperature-degrees {
  font-size: 44px;
  font-weight: bold;
}

.WeatherInfo .condition {
  color: rgba(92, 92, 211, 1);
  font-size: 28px;
}

.WeatherInfo .additional-info {
  color: rgba(0, 0, 0, 0.6);
}

.WeatherInfo .additional-info-box {
  background: rgba(92, 92, 211, 0.05);
  border-radius: 10px;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.WeatherInfo .additional-info-box:hover {
  background: rgba(92, 92, 211, 0.09);
  transform: scale(1.05);
}

.WeatherInfo .additional-info-box strong {
  color: rgba(92, 92, 211, 1);
}

.WeatherInfo .last-updated {
  font-size: 14px;
  opacity: 0.5;
}

@media (max-width: 620px) {
  .WeatherInfo h1 {
    font-size: 32px;
  }

  .WeatherInfo h2 {
    font-size: 22px;
  }

  .WeatherInfo .temperature-value {
    font-size: 58px;
  }

  .WeatherInfo .temperature-degrees {
    margin-top: 10px;
    font-size: 34px;
  }

  .WeatherInfo .temperature-icon img {
    height: 82px;
  }

  .WeatherInfo .condition {
    font-size: 20px;
  }

  .WeatherInfo .additional-info {
    font-size: 14px;
  }

  .WeatherInfo .last-updated {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .WeatherInfo .current-weather {
    text-align: center;
  }

  .WeatherInfo .temperature {
    justify-content: center;
  }
}
